
/src/gpsr/cartridges/bin
/src/gpsr/cartridges/obj
/src/gpsr/communication/bin
/src/gpsr/communication/obj
/src/gpsr/controls/bin
/src/gpsr/controls/obj
/src/gpsr/lua/bin
/src/gpsr/lua/obj
/src/gpsr/wherugo/bin
/src/gpsr/wherugo/obj
/src/gpsr/shared/bin
/src/gpsr/shared/obj
/src/desktop/wherugo.decoder/cartridges/bin
/src/desktop/wherugo.decoder/cartridges/obj
/src/desktop/wherugo.decoder/shared/bin
/src/desktop/wherugo.decoder/shared/obj
/src/desktop/wherugo.decoder/wherugo.decoder/bin
/src/desktop/wherugo.decoder/wherugo.decoder/obj