
/src/desktop/cartridges/bin
/src/desktop/cartridges/obj
/src/desktop/wherugo.decoder/bin
/src/desktop/wherugo.decoder/obj
/src/gpsr/cartridges/bin
/src/gpsr/cartridges/obj
/src/gpsr/communication/bin
/src/gpsr/communication/obj
/src/gpsr/controls/bin
/src/gpsr/controls/obj
/src/gpsr/lua/bin
/src/gpsr/lua/obj
/src/gpsr/wherugo/bin
/src/gpsr/wherugo/obj
/src/desktop/shared/obj
/src/desktop/shared/bin
/src/gpsr/shared/bin
/src/gpsr/shared/obj
/src/desktop/_ReSharper.wherugo.decoder
/src/gpsr/_ReSharper.wherugo