
/src/gpsr/cartridges/bin
/src/gpsr/cartridges/obj
/src/gpsr/communication/bin
/src/gpsr/communication/obj
/src/gpsr/controls/bin
/src/gpsr/controls/obj
/src/gpsr/lua/bin
/src/gpsr/lua/obj
/src/gpsr/wherugo/bin
/src/gpsr/wherugo/obj
/src/gpsr/shared/bin
/src/gpsr/shared/obj
/src/desktop/cartridges/bin
/src/desktop/cartridges/obj
/src/desktop/lua/obj
/src/desktop/lua/bin
/src/desktop/shared/bin
/src/desktop/shared/obj
/src/desktop/wherugo.luatester/wherugo.luatester/bin
/src/desktop/wherugo.luatester/wherugo.luatester/obj
/src/desktop/wherugo.decoder/wherugo.decoder/bin
/src/desktop/wherugo.decoder/wherugo.decoder/obj
/src/gpsr/wherigo/bin
/src/gpsr/wherigo/obj
